{% extends "whitelist/base.html" %}

{% block title %}Whitetrash Whitelist{% endblock %}

{% block content %}

    <h1>Whitelist</h1>
    <div id="whitelistTable">
    <p>
    Use this report to find the sites getting the most whitelist hits.  To increase efficiency you should move really busy sites to a squid whitelist, thus minimising the necessary database accesses.</p>

    <p>Click <a href="%s/not_whitelisted">here</a> for a list of domains that have been requested but not approved.</p>

    <p>Click <a href="%s">here</a> to remove domains from the whitelist.</p>

    <table border=1 frame=box>
    <tr>
    <td><b>ID</b></td>
    <td><b>Whitelisted Domain</b></td>
    <td><b>Domain Hitcount</b></td>
    <td><b>First Whitelisted</b></td>
    <td><b>Last Accessed</b></td>
    <td><b>Whitelisted by User</b></td>
    <td><b>Protocol</b></td>
    <td><b>Comment</b></td>
    <td><b>Original Request</b></td></tr>

    {% for item in object_list %}
        <tr><td>{{item.whitelist_id}}</td>
        <td>{{item.domain}}</td>
        <td>{{item.hitcount}}</td>
        <td>{{item.date_added}}</td>
        <td>{{item.last_accessed}}</td>
        <td>{{item.username}}</td>
        <td>{{item.get_protocol_display}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.original_request}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}

