{% extends "whitelist/base.html" %}

{% block title %}Whitetrash: Error{% endblock %}

{% block content %}
{% load whitetrash_filters %}
        
    <div id="viewlist">
        {% include "whitelist/sidebar.html" %}
    </div>

    <div id="centreContent">
        <div id="errorText">
            <h1>Whitetrash Error</h1>
            <p>
                {% if hastext %}
                {{params.errortext|errortext|escape}}
                {% else %}
                An error has been logged, see your sysadmin for assistance.
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}

