{% extends "whitelist/base.html" %}

{% block title %}Whitetrash Internet Access Request Form{% endblock %}

{% block content %}
    <h1>Internet Access Request</h1>
    <form action={{ form_target }} method="post">
            
        <div id="host">
            <div id="hostText">
                <p><b>Host Requested: </b></p>
            </div>
            {{ form.domain|escape }}
            {{ form.domain.errors }}
            {% if ssl %}
            <script type="text/javascript">
                document.getElementById("id_domain").value = escape(location.hostname);
            </script>
            {% endif %}
        </div>
        <div id="requestDetails">
            <div id="requestDetailsText">
                <p><b>Protocol: </b>{{ form.protocol }}</p>
                {{ form.protocol.errors }}
                {% if user.is_authenticated %}
                <p><b>Client Username: </b>{{ user.username }}</p>
                {% endif %}
            </div>
        </div>
        <div id="centreContent">
            <div id="bnessReq">
                {{ form.url.errors }}
                <p><b>This site is not currently in the whitelist.  If you have a genuine need to access this site please enter a business requirement or comment for this domain: </b>
                <input name="comment" id="bnessInput" maxlength="100" size="40" type="text" /></p>
            </div>
            <div id="warningText">
                <p>By clicking "I Agree" below you are agreeing to have the information above stored on a list of whitelisted websites with YOUR UNIQUE USERNAME at <a href="http://whitetrash/whitelist/view/list">this address</a></p>
            </div>
            {{ form.url|escape }}
            <input type="submit" value="I Agree" class="LgnBtn" />
            {% if form.non_field_errors %}
            <div id="errorText">
                <p>{{form.non_field_errors|escape}}</p>
            </div>
            {% endif %}
            {{ form.recaptcha_response_field|safe }}
            {{ form.recaptcha_challenge_field }}

        </div>
    </form>

{% endblock %}

