body{
    font-family:Arial, Helvetica, sans-serif;
    background:#000000;
    font-size:1em;
    color:#fff;
    font-weight:normal;
    margin:0;
    padding:0;
    }

h1 { display:none; }

a:link, a:visited {
    color:#8fdf03;
    text-decoration:none;
    }

a:hover, a:active {
    color:#fff;
    }

hr {
    color: #fff;
    background-color: #fff;
    height: 0.1em;
}

#whitelistTable {
    position:relative;
    top:-9em;
    left: 11em;
}

#whitelistTable table {
    border-width: thin thin thin thin;
    border-spacing: 0em;
    border-style: solid solid solid solid;
    border-collapse: collapse;
}

#whitelistTable td {
    border-width: thin thin thin thin;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid solid solid solid;
}

#whitelistTable td.wtorigurl {
    width: 50pt;
}

#whitelistTable th {
    font-size:1.1em;
	font-weight:bold; 
    border-width: thin thin thin thin;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid solid solid solid;
    text-align:left;
}


#pageHeader{
    position:relative;
    top:1em;
    left:0;
    background:#000000 url(logo.png) no-repeat top left;
    height:133px;
    width:350px;
    }

#host{
    position:relative;
    color:#fff;
    background:#000000 url(orange_rect.png) no-repeat top left;
    width:100%;
    height:5em;
    top:1em;
    }

#hostText{
    position:relative;
    font-size:1em;
    width:15em;
    top:0.5em;
    left:1em;
    color:#000;
    }

#id_domain{
    position:relative;
    font-size:1em;
    left:1em;
    width:15em;
    }

#requestDetails {
    position:relative;
    top:1.2em;
    background:#000000 url(green_rect.png) no-repeat top left;
    height:13em;
    width:20em;
}

#requestDetailsText{
    position:relative;
    left:1em;
    top:1em;
    width:16em;
    color:#000;
}

#pluginlink{
    font-size:1.2em;
    position:relative;
    left:1em;
    width:14em;
}

#viewlist{
    font-size:1em;
    color:#fff;
    position:absolute;
    left:0em;
    top:160px;
}

#centreContent {
    font-size:1.2em;
    position:absolute;
    left:400px;
    top:2em;
    width:30em;
}

#centreContent h1 {
    display:block;
}

#errorText {
    color:#f93009;
}

#sbErrorText {
    color:#fff;
    font-size:1.2em;
	background:#681707; 
    padding:2em 2em;
}

#sbErrorText a:link, #sbErrorText a:visited {
    color:#fff;
    text-decoration:underline;
}

#sbErrorText h1{
    font-size:1.5em;
}


#bnessInput {
    position:relative;
    margin-top:2em;
}

#loginPrompt{
    position:relative;
    top:3em;
    left:1em;
}

#loginPrompt label {
    font-size:1.4em;
	font-weight:bold; 
}

/* SIDEBAR */

#sidebar {
    position:relative;
    text-align:justify;
    text-transform:uppercase;
	font-weight:bold; 
}

#sidebar ul{    
    padding:0;
    margin:0.5em;
    }

#sidebar ul li{ 
    list-style:none; 
    padding: 0.2em;
}


/* PAGINATOR */

#paginator {
    position:relative;
    margin-top:1.1em;
    font-size:1.1em; 
    text-align:center;
}

#paginator a:link, #paginator a:visited { 
    border-style:solid;
    border-color:#fff;
	padding:0.2em 0.6em;
}

#paginator #current { 
    border-style:solid;
    border-color:#000;
	padding:0.2em 0.6em; 
	font-weight:bold; 
}

#paginator a:hover { 
	color:white; 
	background:#5b80b2; 
	border-color:#036;
}
