.whitetrash-can {
    list-style-image: url(wtcan.png);
}

.whitetrash-can-tick {
    list-style-image: url(wtcan-tick.png);
}

.whitetrash-top-level {
	font-weight: bold;
}

.options-tab {
	white-space: normal;
	width: 40em;
    min-height: 20em;
}
