.whitetrash-can {
    list-style-image: url(wtcan.png);
}

.whitetrash-can-tick {
    list-style-image: url(wtcan-tick.png);
}

.whitetrash-top-level {
    font-weight: bold;
}

#whitetrashOptions {
    white-space: normal;
    width: 40em;
    min-height: 20em;
    background-color: menu !important;
    opacity: 1.0;

}

#whitetrashAbout {
    white-space: normal;
    width: 30em;
    min-height: 20em;
    background-color: white !important;
    opacity: 1.0;
    font-size: 1.1em;

}

#whitetrashAbout vbox {
    padding: 1em;
}

#extensionVersion {
  color: #448;
}

#extensionDescription {
  color: #444;
  overflow: auto;
}

#extensionCreator {
  font-weight: bold;
}

.options-tab {
    padding-left: 2em;
    padding-top: 2em;
}
